h1,
h3 {
  font-family: "Dancing Script", cursive;
}

button {
  width: 100px;
  padding: 5px 10px 5px 10px;
  background-color: #fdb338;
  color: rgb(17, 16, 16);
  border: 1px solid rgb(240, 233, 233);
  border-radius: 2px;
}
.btn {
  width: 200px;
  padding: 10px;
  background-color: #fdb338;
  color: rgb(17, 16, 16);
  border: 1px solid rgb(240, 233, 233);
  border-radius: 2px;
}
.search-div-button {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo-text {
  font-family: "Dancing Script", cursive;
  color: white;
}

.menu-items {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid gray !important;
  background-color: #1f203a;
  color: white;
}
.menu-items2 {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listings-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.listing-search-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .nav-bar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdb338;
  padding: 5px;
} */
.nav-bar2-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fdb338; */
  padding: 5px;
  gap: 20px;
}

li {
  list-style: none;
}
.landing-Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(241, 228, 228);
}
.landingSearch-div {
  width: 300px;
  background-color: rgba(253, 251, 251, 0.9);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(26, 26, 26);
}
.search-banner {
  width: 100%;
  height: 60vh;
  background-image: url(./assets/beautiful-landscape.jpg);
  background-size: cover;
  background-position: top-left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listing {
  padding: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: whitesmoke;
}
.card-media {
  background-image: url(./assets/beautiful-landscape.jpg);
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  background-color: white;
}
section p {
  width: 300px;
}
.footer-div {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
.footer-icons {
  display: flex;
  gap: 30px;
}
.form-btn {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/******** LISTINGS PAGE  ******/
.listing-result {
  border: 1px solid gray;
  background-color: #fdb338;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
